<!--Name: Tyler Goldenhart-->
<!--https://thankful-desert-0248b8b0f.azurestaticapps.net/-->
@page "/"

<h1>Hello, world!</h1>

Welcome to your Tutorial 5.

<SurveyPrompt Title="How is Blazor working for you?" />

<Counter IncrementAmount="10" />
